@font-face {
    font-family: now;
    src: url(now/Now-Regular.otf)
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'now', sans-serif;
    color: #3a2201;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: #ffe580;
    align-items: center;
    padding: 0 10vw;
    color: #3a2201;
    z-index: 10;
}

.logo {
    margin: 0.5rem 0;
}

#nav-logo {
    width: auto;
    height: 4rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    color: #3a2201;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.navbar-links li:hover {
    text-decoration: underline;
}

#news-btn {
    text-decoration: none;
}

#news-btn a{
    background-color: #F8D0E9;
    border-radius: 24px;
    transition: 0.2s;
}

#news-btn a:hover {
    text-decoration: none;
    background-color: #D5BFFF;
    border-radius: 24px;
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 10vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

#home {
    background-color: #C6F0F4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.header-logo-container {
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    padding-right: 4rem;
}
#header-logo {
    width: 300px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #EEE;
    animation-name: biglogo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes biglogo {
    from {
        transform: rotate(0deg) scale(0.1);
        opacity: 0.1;
    } 
    to {
        transform: rotate(360deg) scale(1);
        opacity: 1;
    }
}

.header-text h1{
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-size: 120px;
    font-family: 'Now', sans-serif;
    color: white;
    text-shadow: 3px 3px #ffe580, 5px 5px #ffe58085;
    animation-name: title;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.header-text h2{
    margin: 0.5rem 0.5rem 0.5rem 0;
    margin-right: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    font-weight: 600;
    animation-name: subtitle;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes title {
    0% {
        transform: translateX(60%);
        opacity: 0.1;
    } 
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes subtitle {
    0% {
        transform: translateX(50%);
        opacity: 0.1;
    } 
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

h3 {
    text-align: center;
    font-size: 42px;
    font-family: 'Quicksand', sans-serif;
}

.squiggle-transition {
    margin-top: -20vh;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    direction: rtl;
}

#squiggle {
    width: 100%;
    height: fit-content;
    min-width: 800px;
}

#about {
    padding: 0 20vw;
}
#about p {
    font-size: 20px;
    text-align: center;
}

button {
    font-family: inherit;
    color: inherit;
}

.collapsible {
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    position: relative;
}
.collapsible span {
    background-color: #F8D0E9;
    padding: 8px;
    transition: 0.2s;
    border-radius: 20px;
}

.collap-active span, .collapsible:hover span {
    /*placeholder, will use this as animation*/
    background-color: #D5BFFF;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.collapsible span:after {
    content: '\25B6'; 
    font-size: 13px;
    color: #3a2201;;
    margin-left: 5px;
}
  
.collap-active span:after {
    content: "\25BC"; 
}

#team {
    padding: 0 15vw;
    margin-bottom: 5vh;
    position: relative;
}
.team-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(14rem, 1fr));
    grid-gap: 2em 1em;
}
@media (max-width: 1200px){
    .team-grid {
        grid-template-columns: repeat(2, minmax(14rem, 1fr));
    }
}
@media (max-width: 800px){
    .team-grid {
        grid-template-columns: repeat(1, minmax(14rem, 1fr));
    }
}

.team-grid h4 {
    font-size: 24px;
}
.team-grid h5 {
    font-size: 16px;
}
.team-member {
    text-align: center;
}

.team-member img {
    width: 14rem;
    height: auto;
    border-radius: 50%;
    border: 5px solid #ffe580;
    box-shadow: 1px 1px 4px #3a220136;
}

.team-social {
    font-size: 24px;
    margin: 0.25rem;
    text-decoration: none;
    color: inherit;
}

/*.animate-on-scroll{
    opacity: 1;
}*/
.animate-on-scroll.is-visible {
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: right;
    }

    .navbar-links li a {
        padding: 0.75rem 0;
    }

    .navbar-links.active {
        display: flex;
    }

    #news-btn a{
        display: block;
        background-color: transparent;
    }
    #news-btn a:hover{
        text-decoration: underline;
        background-color: transparent;
    }
}

@media (max-width: 1250px) {
    .header-text h1{
        font-size: 96px;
    }
}
    
@media (max-width: 1000px) {
    .social-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 520px) {
    #header-logo {
        display: none;
    }
    footer {
        padding: 1.5em 10vw !important;
    }
    .social-buttons {
        padding: 0.1rem ;
    }
    .social-links {
        font-size: 1rem ;
    }
    .social-buttons .fa-linkedin-in {
        padding: 0.8rem ;
    }
    
    .social-buttons .fa-instagram {
        padding: 0.8rem ;
    }
    
    .social-buttons .fa-youtube {
        padding: 0.8rem ;
    }
    
    .social-buttons .fa-envelope {
        padding: 0.8rem ;
    }
    #foot-logo {
        width: auto;
        height: 3rem ;
    }
}

footer {
    background-color: #F8D0E9;
    padding: 1.5em 15vw;
}

.social-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    font-size: 1.5rem;
}

.social-buttons {
    padding: 0.5rem;
    text-align: center;
    color: white;
}

.social-buttons:hover {
    opacity: 0.8;
}

.social-buttons .fa-linkedin-in {
    background: #007bb5;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
}

.social-buttons .fa-instagram {
    background: #E1306C;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
}

.social-buttons .fa-youtube {
    background: #bb0000;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
}

.social-buttons .fa-envelope {
    background: #dd4b39;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
}

#foot-logo {
    width: auto;
    height: 4.5rem;
}

hr {
    border-top: 1px solid #3a2201;
    border-bottom-color: transparent;
    opacity: 0.5;
}

.copyright {
    text-align: center;
}

@media (max-width: 480px) {
    .header-text h1{
        font-size: 72px;
    }
    .social-buttons {
        padding: 0.1rem;
    }
    .social-links {
        font-size: 1rem;
    }
    .social-buttons .fa-linkedin-in {
        padding: 0.8rem;
    }
    
    .social-buttons .fa-instagram {
        padding: 0.8rem;
    }
    
    .social-buttons .fa-youtube {
        padding: 0.8rem;
    }
    
    .social-buttons .fa-envelope {
        padding: 0.8rem;
    }
    #foot-logo {
        width: auto;
        height: 3rem;
    }
}

@media (max-width: 360px) {
    #nav-logo {
        content: url(images/citroicon.png);
    }
}

@media (min-height: 900px) {
    .squiggle-transition {
        margin-top: -15vh;
        width: 100%;
        height: fit-content;
    }
}

@media (min-height: 1200px) {
    .squiggle-transition {
        margin-top: -10vh;
        width: 100%;
        height: fit-content;
    }
}