body {
    margin: 3rem;
}

.logo-container {
    width: 80%;
    height: 10em;
    margin: 0 auto;
    border: 10px solid;
    border-radius: 20px;
    border-color: #c0bfbf;
    background-image: url("https://media.istockphoto.com/vectors/blue-sky-with-white-clouds-background-border-of-clouds-simple-cartoon-vector-id1138179296?k=6&m=1138179296&s=612x612&w=0&h=DhIzmPmdkAi-L-K17qsTHGDYtTMlQzOjIeic7wki3v4=");
}

.date-box {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding-top: .1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #fffb00;
    margin-bottom: -2em;
    margin-left: 5em;
    position: relative;
    z-index: 10;
}

.date-box:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid #fffb00;
    border-top: 6px solid #fffb00;
    border-bottom: 6px solid transparent;
    right: 6px;
    bottom: -9px;
  }

.logo-title {
    text-transform: uppercase;
    color: black;
    text-shadow: 2px 2px #fffb00;
    z-index: 1;
    text-align: center;
}

.logo-subtitle {
    color: purple;
    text-transform: uppercase;
    font-size: medium;
}

.citrotech-word {
    font-size: medium;
}